# Django Settings
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,.render.com

# Database (Render will provide this URL)
DATABASE_URL=postgres://user:password@hostname:5432/dbname

# Email Settings
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password

# Firebase Settings
# Private Service Account (JSON string)
FIREBASE_SERVICE_ACCOUNT_JSON={"type": "service_account", ...}

# Public Client Config (For the Service Worker)
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=G-XXXXX
FIREBASE_STORAGE_BUCKET=your-project-id.firebasestorage.app
USE_FIREBASE_STORAGE=False
