# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Django
db.sqlite3
media/
static_root/
staticfiles/

# Firebase
firebase-service-account.json

# IDE
.vscode/
.idea/
.DS_Store


#database
umeed_backup.sql